* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  width: 100%;
  grid-template-areas: 
  'title title'
  'form table';
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
  grid-area: title;
  text-align: center;
  padding: 25px;
}
a {
  text-decoration: none;
  color: #0984e3;
}
a:hover {
  text-decoration: underline;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: form;
  padding: 15px;
  width: 100%;
}
form input {
  margin-top:20px;
  width: 100%;
  max-width: 400px;
  padding: 12px;
  outline: none
}
.text-fields{
  padding-left: 5px;
  border: 0;
  border-bottom: 1px solid #aaa;
  will-change: border-bottom;
  transition: .2s;
}
.text-fields:focus{
  border-bottom: 1.5px solid #0984e3;
}
.button{
  border: 0;
  text-transform: uppercase;
  border-radius: 3px;
  background:#0984e3;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  transition: .2s;
}
.update {
  display: none;
  background-color: #e74c3c;
}
.active {
  display: block;
}
.button:hover{
  transform: translateY(-3px);
  box-shadow: 1px 3px 4px 0px #777;
}
.table-container{    
  grid-area: table;
}
#usersTable {
  width: 90%;
  margin-top: 32px;
  border-collapse: collapse;
  border: 0;
}
#usersTable th {
  padding: 12px;
  background-color: darkcyan;
  border: 0;
  color: aliceblue;
}
#usersTable td {
  text-align: center;
  padding: 6px;
}